<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">GANASTEEEEEEE!!!!!!!!!</h1>
    <div id="preguntas" style="text-align: center; margin-top: 20px; font-size: large;">
        <img style="width: 35%;" src="https://media.tenor.com/yoJtezTfrvYAAAAM/league-of-legends-league.gif" alt="TOP LANE">
        <h3>¡FELICIDADES, HAS GANADO LA TRIVIA! AHORA PUEDES DECIR QUE ERES UN EXPERTO EN LEAGUE OF LEGENDS</h3>
        <a id="botones" href="trivia_home.html" style="display: inline-block; margin-top: 20px;">Volver al inicio de la trivia</a>

    </div>
</body>
</html>