<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">PERFECTO, MUY BIEN!</h1>
    <div id="preguntas" style="text-align: center; margin-top: 20px; font-size: large;">
        <img style="width: 50%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/fc8d0c8c803a8e91a1912df9054b3be90211a2d9-3288x2100.png?accountingTag=LoL&auto=format&fit=fill&q=80&w=1370" alt="TOP LANE">
        <h3>TOP LANE</h3>
        <p>
            Los campeones de la calle superior son los luchadores solitarios por excelencia. 
            Su trabajo es proteger su calle y centrarse en eliminar a las mayores amenazas del equipo enemigo.
        </p>    

        <a id="botones" href="nivel_2.html" style="display: inline-block; margin-top: 20px;">Siguiente pregunta</a>

    </div>
</body>
</html>