<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">PERFECTO, MUY BIEN!</h1>
    <div id="preguntas" style="text-align: center; margin-top: 20px; font-size: large;">
        <img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/e7fca39b04ecc83ff3e96b281aa39b385cd5faa3-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="TOP LANE">
        <h3>ESTE CAMPEON PERTENECE A LA TOP LANE</h3>
        <p>
Kled es un guerrero yordle tan intrépido como malhumorado y es la encarnación de la furiosa bravuconería noxiana. Los soldados del imperio lo adoran, sus oficiales desconfían de él y la clase noble lo detesta. Muchos afirman que ha luchado en todas y cada una de las campañas de guerra noxianas, que ha ''adquirido'' todos los títulos militares habidos y por haber, y que nunca se echa para atrás. Aunque la veracidad de estos rumores sea cuestionable, una parte de la leyenda es innegable: cuando Kled se lanza a la batalla a lomos de Skaarl, su no muy fiable corcel, protege todo lo que es suyo... y reclama todo lo que puede.
        </p>    

        <a id="botones" href="nivel_3.html" style="display: inline-block; margin-top: 20px;">Siguiente pregunta</a>

    </div>
</body>
</html>