<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">PRIMERA PREGUNTA</h1>
    <h2 id="preguntas" style="margin-top: 10px;">¿A que linea me refiero cuando hablo de la top lane?</h2>
    <div style="text-align: center; margin-top: 20px;">
        <a href="ganar_nivel_1.html"><img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/8dac0c1318083c411c90f5f94feec17e84cb052b-980x980.png?accountingTag=LoL&auto=format&fit=crop&q=80&h=160&w=160&crop=center" alt="TOP"></a>
        <a  href="perdiste.html"><img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/62fcfeb7dcbb737f0cdaceb554daf4237f2c234a-980x980.png?accountingTag=LoL&auto=format&fit=crop&q=80&h=160&w=160&crop=center" alt="JUNGLE"></a>
        <a  href="perdiste.html"><img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/fa03a69b7c666230ae6945b83078e8a26027403a-980x980.png?accountingTag=LoL&auto=format&fit=crop&q=80&h=160&w=160&crop=center" alt="MID"></a>
        <a  href="perdiste.html"><img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/1059c2aebd67b535ce1348fa0b72b453a46f6b5e-980x980.png?accountingTag=LoL&auto=format&fit=crop&q=80&h=160&w=160&crop=center" alt="ADC"></a>
        <a  href="perdiste.html"><img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/d5dc4ba9080bf3c361e061afa69c9563aa38f5f9-980x980.png?accountingTag=LoL&auto=format&fit=crop&q=80&h=160&w=160&crop=center" alt="SUPPORT"></a>
    </div>
</body>
</html>