<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">TERCERA PREGUNTA</h1>
    <h2 id="preguntas" style="margin-top: 10px;">¿Cual de estos objetivos es el Baron Nashor?</h2>
    <div style="text-align: center; margin-top: 20px;">
        <a href="ganar_trivia.html"><img  style="width: 40%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/ed4bef5c2369044d76cf535e038b6c1f8d323f13-3288x2100.png?accountingTag=LoL&auto=format&fit=fill&q=80&w=1370" alt="BARON NASHOR"></a>
        <a  href="perdiste.html"><img style="width: 40%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/1faaf44ebe07ec29900a21db0810b130f4777342-3288x2100.png?accountingTag=LoL&auto=format&fit=fill&q=80&w=1370" alt="DRAGON"></a>
    </div>
</body>
</html>