<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">SEGUNDA PREGUNTA</h1>
    <h2 id="preguntas" style="margin-top: 10px;">¿Quien de estos campeones pertenece a la top lane?</h2>
    <div style="text-align: center; margin-top: 20px;">
        <a href="ganar_nivel_2.html"><img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/e7fca39b04ecc83ff3e96b281aa39b385cd5faa3-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="TOP"></a>
        <a  href="perdiste.html"><img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/81ea60b4f073843586452253d30d1c3826759c21-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="JUNGLE"></a>
        <a  href="perdiste.html"><img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/305ea48a1b1818c660b7e195ff47b097733031c7-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="MID"></a>
        <a  href="perdiste.html"><img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/c7bcc3ab59371041a1035c0447fba1b4d3253d9e-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="ADC"></a>
        <a  href="perdiste.html"><img style="width: 18%;" src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data_live/624a37702a1e54b5f239a40157d42f32dd853b33-496x560.jpg?accountingTag=LoL&auto=format&fit=fill&q=80&w=496" alt="SUPPORT"></a>
    </div>
</body>
</html>