<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">EQUIVOCADO</h1>
    <div style="text-align: center; margin-top: 20px; font-size: large;">
        <img style="width: 50%;" src="https://www.pngkey.com/png/full/713-7131234_image-rights-to-riot-games.png" alt=""><br>
        <a id="botones" href="nivel_1.html" style="margin-top: 20px; display: inline-block;">Volver a intentar</a>
    </div>
</body>
</html>