<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titulo">Bienvenidos a la Trivia de League of Legends</h1>
    <img style="width: 35%; margin: auto; display: block;" src="https://wiki.leagueoflegends.com/en-us/images/thumb/League_of_Legends_logo.png/1600px-League_of_Legends_logo.png?cf7d9&20240801215508" alt="Logo de League of Legends">
    <div style="text-align: center;">
        <a id="botones" href="nivel_1.html">¿Listo para empezar?</a>
        <a id="botones" href="../../index.html">Volver al Inicio</a>
    </div>
</body>
</html>