<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP 1 - Identikit</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="navar">
        <nav>
            <li id="nav_item"><a href="../index.html">inicio</a></li>
            <li id="nav_item"><a href="../trivia/templates/trivia_home.html">Trivia</a></li>
            <li id="nav_item"><a href="sobre_mi.html">Sobre mi</a></li>
            <li id="nav_item"><a href="tablas.html">Tabla</a></li>
            <li id="nav_item"><a href="listas.html">Lista</a></li>
            <li id="nav_item"><a href="playlist.html">Playlist</a></li>
        </nav>
    </div>
    <div style="text-align: center;">
        <aside class="card">
            <ul>
                <li><h1 id="titulo">Videos</h1></li>
                <li><a href="playlist.html">Intact Story reel 1 </a></li>
                <li><a href="playlist_2.html">Intact Story reel 2</a></li>
                <li><a href="playlist_3.html">Intact Story reel 3</a></li>
                <li><a href="playlist_4.html">Prisoner vision</a></li>
                <li><a href="playlist_5.html">The story so far</a></li>
                <li><a href="playlist_6.html">Farewell vision</a></li>
            </ul>
        </aside>
        <main class="card" id="cuotes">
            <h1 id="titulo">Bienvenidos a la playlist de los Lost Reels De Outer Wilds</h1>
            <h2> Ojo que esta PLAYLIST tiene SPOILERS.</h2>
            <iframe style="width: 75%; height: 75%;" src="https://www.youtube.com/embed/y2j5bsvyWjg?si=0wZ2jLKP_Ol4F_lz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3 style="margin-top: 10px;">Intact Story reel 2 found in the Starlit Cove, Forbidden Archive. All images and music were taken from the game's files. The slide reel images were color corrected by Swagguy47, many thanks to them.</h3>
        </main>
    </div>
    <footer>
        <p style="text-align: center; color: white; background-color: black;">Copyright © 2024 Joaquin Diaz Syrtink</p>
    </footer>
</body>
</html>