<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP 1 - Sobre mi</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="navar">
        <nav>
            <li id="nav_item"><a href="../index.html">inicio</a></li>
            <li id="nav_item"><a href="../trivia/templates/trivia_home.html">Trivia</a></li>
            <li id="nav_item"><a href="sobre_mi.html">Sobre mi</a></li>
            <li id="nav_item"><a href="tablas.html">Tabla</a></li>
            <li id="nav_item"><a href="listas.html">Lista</a></li>
            <li id="nav_item"><a href="playlist.html">Playlist</a></li>
        </nav>
    </div>
    <center>
        
        <div class="card dimenciones-card">
            <h1 id="titulo">Sobre mi</h1>
            <p id="texto" class="texto-centrado" ><img
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f6/Outer_Wilds_Steam_artwork.jpg/250px-Outer_Wilds_Steam_artwork.jpg"
                    alt="outer wilds" style="float: right; margin-left: 2%;margin-right: 2%; height: 200px;">Hola mi
                nombre es Joaquin Diaz Syrtink y tengo 21 años. Este es mi primer año en UADE y llevo ya casi dos años
                trabajando de programador para una empresa de software. Mis juegos favoritos son el Outer wilds y el
                disco elisium. Tambien juego al League of legennds donde mi maximo rango fue master 200lp siendo otp
                kled.</p>
            <p id="texto" class="texto-centrado">Actualmente estoy estudiando la carrera Licenciatura en Gestion de la Tecnologia de la informacion. Estoy aprendiendo a tocar la guitarra, me la compre hace unos meses en un local de triunvirato. 
            </p>
            <div id="texto" style="font-size:x-large; margin-top: 2%;">
                <p style="margin-bottom: 2%;">TOP JUEGOS Y SUS PRECIOS</p>
                <table border="1">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Outer Wilds</td><td>$24.99</td></tr>
                        <tr><td>2</td><td>League of Legends</td><td>Gratis</td></tr>
                        <tr><td>3</td><td>Disco Elysium</td><td>$39.99</td></tr>
                        <tr><td>4</td><td>Dota 2</td><td>Gratis</td></tr>
                        <tr><td>5</td><td>Deadlock</td><td>Gratis</td></tr>
                    </tbody>
                </table>
                <a href="../trivia/templates/trivia_home.html" style="width: 50%; margin-top: 50px;">¿Queres jugar una Trivia de League of Legends</a>

            </div>
            
        </div>
    </center>
</body>

</html>